@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 6px;
    font-size: 35px;
    background-color: white;
    border-radius: 999px;
    color: #FF6908;
    z-index: 50;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    opacity: 0;
    transition: opacity 0.3s;
    transition: ease-in-out 0.1s;
    pointer-events: none;
}

.back-to-top:hover {
    color: white;
    background-color: #FF6908;
    transition: ease-in-out 0.1s;
}

.back-to-top-show {
    opacity: 1;
    pointer-events: auto;
}

.navbar {
    background: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.nav-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px;
}

.logo {
    cursor: pointer;
    display: inline;
    height: 36px;
}

.nav-desktop {
    position: static;
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    gap: 28px;
    list-style: none;
}

.nav-list-link {
    color: #4A4A4A;
    text-decoration: none;
    letter-spacing: -0.025em;
}

.nav-list-link:hover {
    color: #FF6908;
    transition: ease-in-out 0.1s;
}

.btn-primary1 {
    display: none;
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #FF6908;
    border-radius: 999px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary1:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.1s;
}

.contact {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact img {
    height: 30px;
    cursor: pointer;
}

.btn-primary2 {
    padding: 10px 12px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #FF6908;
    border-radius: 999px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary2:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.1s;
}

.nav-mobile {
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    left: 0;
    top: -400px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 48px 32px;
    margin-top: 56px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    transition: top 0.3s ease-in-out;
}

.nav-visible {
    top: -10px;
}

.nav-hidden {
    top: -400px;
}

.nav-list-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

@media (min-width: 768px) {
    .nav-desktop {
        display: inline;
    }

    .btn-primary1 {
        display: inline;
    }

    .contact {
        display: none;
    }

    .nav-mobile {
        position: static;
        min-height: fit-content;
        display: none;
        padding: 0;
    }
}

@media (min-width: 1024px) {
    .nav-layout {
        padding: 0px 80px;
    }
}